on: push
name: Publish Website on push to cPanel
jobs:
  web-deploy:
    name: FTP-Deploy-Action
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v2.1.0
 
    - name: FTP-Deploy-Action
      uses: SamKirkland/FTP-Deploy-Action@4.3.3
      with:
        server: vh107.hoster.by
        username: ftpuser@secret.otpotpotp.of.by
        password: ${{ secrets.FTP_PASSWORD }}
